@media screen and (max-width: 992px){
    .index_single_page_container{
        max-width: 100% !important;
    }
    .cont3{
        margin: 3rem 0;
    }
    .flex-row {
        margin-bottom: -1rem;
    }
    h4 {
        padding: 0.5rem 0;
         font-size: 1rem;
        line-height: 1.8rem;
    }
    
    .image-index{
        background-size: contain !important;
        margin-bottom: 1rem;
    }
   .title-bastpost{
       font-size: medium !important;
   }
   .image-index-title{
       padding-right: 3rem;
       margin-bottom: 2%;
   }
    
}
@media screen and (max-width: 768px) {
   

    .index_single_page_container{
        max-width: 100% !important;
    }
    .maincontent{
        padding-top: 3.5rem;
    }
    .t-header-right ul{
        display: none;
    }
    
    .responsive-navbar{
        display: block;
        width: 35%;
        height: auto;
        background-color: rgba(0, 0, 0, .6);
        right: -35%;
        display: none;
        position: absolute;
        display: none;
    }
    .responsive-navbar a{
        text-decoration: none;
        color: #e8e8e8;
        line-height: 1rem;
    }
    /* .responsive-navbar a:hover{
        text-decoration: none;
        background-color:  rgba(0, 0, 0, .5);
        } */
    .responsive-navbar ul {
        text-align: center;
        padding: 1rem;
        margin-top: 3rem;
        width: 100%;
    }
    .back-container{
        position: absolute;
        background-color:  rgba(0, 0, 0, .5);
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
    }
    .primary_container h1{
        font-size: 1.3rem;
    }
    .responsive-icon{
        display: block;
    }
    .cont3{
        display: none;
    }
    .carousel-content{
        display: block;
        margin-top: 3rem ;
        width: 70%;
        height: 50%;
        text-align: center;
        background: #ffffff;
        border-radius: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-content img{
        height: 50%;  
        border-radius: 1rem;

    }
    .carousel-content a{
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    .carousel-content section {
        color: #8b8b8b  ;
        font-size: 1rem;
    
    }
    .carousel-content p{
        margin: 1rem;
    }
    footer .col-3{
        width: 100%;
        text-align: start;
    }
    .VALMART ,section ,a ,p{
        text-align: start !important;
    }
    .categories-container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .category-box-item span{
        font-size: 0.8rem;
        
    }
    .title-bastpost{
        font-size: small !important;
    }
    .image-index-title{
        padding-right: 2rem;
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 576px){
    .index_single_page_container{
        max-width: 100% !important;
    }
    .ramzarz{
        font-size: 0.8rem;
    }
    .icon-style a {
        font-size: small;
    }
    .icon-time{
        font-size: small;
    }
    .primary_container h1{
        font-size: 1.4rem;
        margin: 0;
    }
    .tag-content a{
        font-size: 1rem;
        font-weight: bold;
        margin: 0.3rem;
        padding: 0.3rem;
    }
    footer .fab{
        font-size: 1.5rem !important;
    }
    h4 {
        padding: 0.5rem 0;
        line-height: 1.5rem !important;
        font-size: 0.9rem;
    }
    .category-box-item span{
        font-size: 0.6rem;
    }

}
  

@media screen and (max-width: 400px){
    .maincontent{
        padding-top: 2rem;
    }
    
    .ramzarz{
        font-size: 0.5rem;
    }
    .icon-style a {
        font-size: x-small;
    }
    .icon-time{
        font-size: x-small;
        margin-top: 0.5rem !important;
    }
    .primary_container h1{
        font-size: 0.6rem;
    
    }
    p, a{
        font-size: 0.8rem;
    }
   .tag-content a{
       font-size: 10px;
       font-weight: bold;
       margin: 0.3rem;
       padding: 0.3rem;
   }
  
   h4 {
    padding: 0.5rem 0;
    font-size: 0.7rem;
    line-height: 1rem !important;
}
.category-box-item span{
    font-size: 0.4rem;
}
.category-item{
    font-size: xx-small !important;
}
#limit-char{
    font-size: smaller !important;
}
}