*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

ul li {
    list-style: none;
}
body{
    background: #f2f2f2;
    direction: rtl;
    width: 100%;
    text-align: justify;
}

img{
    width: 100%;
    height: auto;
}

.responsive-icon {
    display: none;
     color: #8b8b8b;
}
.responsive-navbar{
    display: none;
}
.t-header-row {
    /* display: -ms-flexbox;
    display: -webkit-box; */
    display: flex;
    /* -ms-flex-align: center;
    -webkit-box-align: center; */
    align-items: center;
    padding: 0.5rem 0;
}
.t-header-row  a{
    text-decoration: none;
    color: #e8e8e8;
}

.t-header-logo  {
    width: 4rem;
    height: 3rem;
    margin: 0 0.5rem;
    background: url("../img/weblogo.png") no-repeat;
    
}
.t-header-right ul{
    display: flex;
    padding: 0;
}

.t-header-right a:hover{
    color: #e8e8e8;
    background: #4a4949;
    padding: 0.6rem;
    font-weight: bold;
    border-radius: 0.8rem;

}
.t-header-right {
    display: -ms-flexbox;
    display: -webkit-box;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 70%;
}
.t-header-left {
    width: 30%;
    text-align: end;
}
.t-header-left button{
    background: none;
}

/* /////////////////// */
.container {
    width: 1400px;
}
.maincontent{
    padding-top: 5rem;
}
.primary_container {
    border-radius: 1rem !important;
}
.container h1{
    margin: 1.5rem 0;
    font-size: 1.7rem;
    text-align: center;
}

.icon-style a  {
    background: #efefef;
    color: #8b8b8b  ;
    font-size: 1.2rem;
  
}
.cont3 section {
    color: #8b8b8b  ;
    font-size: 1rem;

}
.imgBitcoin {
    border-radius: 0.8rem ;
    width: 100%;
    height: 100%;
}
.img-center{
    text-align: center;
    padding:  0;
}
.short-content {
    height: auto;
    background: #efefef;
    margin: 1.4rem 1.2rem;
    padding: 1rem ;
    border-radius: 0.8rem;
    line-height: 1.63;
}
.list-content {
    margin: 1.2rem 3.5rem;
    line-height: 2;
}
.list-content a   {
    text-decoration: none;
    }
.list-content ul {
    list-style-type: none;
    font-weight: bold;
}

.main-content {
    line-height: 1.63;
    margin: 1.4rem 1.2rem;
}
.like-content{
     width: fit-content;
    height: auto;
    background: #f2f2f2;
    padding: 0.5rem;
    
}
.tag-content a{
    width: fit-content;
    height: auto ;
    background: #f0e122;
    border-radius: 2rem;
    margin: 0.6rem ;
    padding: 0.4rem 1rem ;
    color: black;
    font-weight: bold;
    text-decoration: none;

}
.tag-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

/* //////// */
.last-post {
    background-color: #ffffff;
    /* height: auto; */
    /* width: 33%;  */
    margin:1rem;
    border-radius: 0.8rem;
}

.title{
    height: 25%;
}
.list-icon{
    text-align: end;
}
.col-img {
    border-radius: 0.8rem;
}
.last-post a {
    text-decoration: none;
}
.last-post p{
    text-align: right;
    padding: 1rem 0.5rem;
    color: black;
    font-weight: bold;
    font-size: 1rem; 
}
.carousel-content{
    display: none;
}

/* ////////// */

.comment {
    background: #fafafa;
    height: auto;
    padding: 5% 20%;
}
label{
    margin: 1rem;
}
.comment input {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: #a0a0a0 solid 0.1rem;
}
textarea {
    border-radius: 0.4rem;
    border: #a0a0a0 solid 0.1rem;
}

/* /////////// */



footer{
    padding: 0 5rem;
    margin-top: 3rem;
    background: #312e2e;
    width: 100%;
    height: auto;
    color: #8b8b8b;
    font-size: 0.8rem;
    line-height: 2rem;
    display: flex;

}
footer a{
    text-decoration: none;
    color: #ffffff;

}
/* .VALMART ,section ,a ,p{
    text-align: end;
} */
.fellowship {
    display: inline-flex;
    width: 100%;
    text-align: right;
}
.networks a{
    border-radius: 45%;
    background: #e8e8e8;
    color: #312e2e;
}
.newsletters{
    background: #4a4949;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
}


/* categories */
.category-title {
    text-align: start;
}
.category-search{
    text-align: end;
}

/* /////////////////////////////////////////////////////////////////
 */

.category-box-item{
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(49, 46, 46, 0.18);
    width: 100%;
}

.category-box-item a img{
  
    object-fit: cover;
    object-position: center;
}

h4{
    /* margin: 2rem 0.5rem; */
    line-height: 2rem;
}
.primary_container p{
    text-align: justify;
}
.pagination-categories{
    text-align: center;

}

 .pagination li{
    text-align: center;
    margin: 0.2rem;
 }


.page-item.active .page-link{
    background-color: #f0b90b    ;
    border-color: #f0b90b;

}


